.navitem{
  color: whitesmoke !important;
  font-weight: bold;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.in  {
  top: 50%;
  right: 40%;
  background-color: #a892ee;
  padding: 3rem;
  margin: 2rem auto;
  width: 60rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}
.in .h1 {
 
    font: inherit;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 1px solid #40005d;
    background-color: #40005d;
    color: white;
    border-radius: 12px;
    margin-right: 1rem;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}
.in input{
  
    padding: 0.5rem;
    border-radius: 6px;
   
    box-shadow: 2px 1px 8px rgba(0, 0, 0, 0.25);
    
  
    /* max-width: 100%; */
}
.in .submit{
  font: inherit;
  color: whitesmoke;
  background-color: #5d0387;
  border: 1px solid aquamarine;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.new-expense__controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.new-expense__control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.new-expense__control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.new-expense__actions {
  text-align: right;
}
.new-expense__actions button{
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #40005d;
  background-color: #40005d;
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
}
.main-footer {
  color: black;
  background-color: #a892ee;
  padding-top: 3em;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-weight: bold;
}